doctype html
html(lang="en")

  head
    title= config.title
    link(rel="stylesheet" href="style.css")

  body
    #text
    #info

  script(type="text/javascript").
    window._config = !{JSON.stringify(config)};

  script(type="text/javascript" src="script.js")
